* {
    margin: 0;
    padding: 0;
    color: #b5bcff;
}

body {
    width: 960px;
    margin: 0 auto;
}

.animeImageSize {
    height: 150px;
    width: 250px;
}

header {
    margin-top: 15px;
    background-color: rgb(107, 116, 201);
    height: 200px;
    text-align: center;
}

header a {
    color: #b5bcff;
    font-size: 24px;
    padding: 25px;
    padding-left: 25px;
}

h1 {
    padding: 25px;
    padding-left: 60px;
    font-size: 60px;
}

nav {
    clear: both;
}

nav ul {
    text-align: center;
}

nav li {
    display: inline-block;
    margin-top: 25px;
    margin-right: 25px;
    list-style-type: none;
}

a:link { 
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

h2 {
    color: hsl(248, 53%, 58%);
}

main {
    clear: both;
    text-align: center;
}

main li {
    list-style-type: none;
    float: left;
    margin-top: 30px;
    margin-right: 30px;
    margin-bottom: 40px;

}

main li:last-child {
    margin-right: 0px;
}
.addMargin {
    margin-left: 75px;
}

main li:nth-child(4) {
    margin-left: 75px;
}

#topSpace {
    margin-top: 30px;
}

footer {
    clear: both;
    height: 225px;
    background-color: rgb(107, 116, 201);
    color: whitesmoke;
    font-size: 30px;
    margin-bottom: 50px;
    text-align: center;
}

/* Slideshow */

* {box-sizing:border-box}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}
.mySlides {
    display: none;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.dot {
    cursor: pointer;
    height: 15px; 
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #717171;
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
/* end of slideshow code and the pictures will show up on the page at first without the javascript so I'm thinkin once I add the Javascript part it'll all be good. */








