* {
    outline:2px dotted rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    color: hsl(200, 100%, 58%);
}

body {
    width: 960px;
    margin: 0 auto;
}

.animeImageSize {
    height: 150px;
    width: 250px;
}

header {
    margin-top: 15px;
    background-color: rgb(107, 116, 201);
    height: 200px;
}

header a {
    color: #b5bcff;
    font-size: 24px;
}

h1 {
    padding: 25px;
    padding-left: 60px;
    font-size: 60px;
}

nav {

}

nav ul {
    text-align: center;
}

nav li {
    display: inline-block;
    margin-top: 25px;
    margin-right: 25px;
    list-style-type: none;
}

a:link { 
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

h2 {
    color: rebeccapurple;
}

main {
    clear: both;
    text-align: center;
}



main li {
    float: left;
}






#topSpace {
    margin-top: 30px;
}



footer {
    clear: both;
    height: 225px;
    background-color: #43adbb;
    color: whitesmoke;
    font-size: 30px;
    margin-bottom: 50px;
    text-align: center;
}




