* {
    outline:2px dotted rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    color: hsl(200, 100%, 58%);
}

body {
    width: 960px;
    margin: 0 auto;
}

.animeImageSize {
    height: 150px;
    width: 250px;
}

header {
    margin-top: 15px;
    background-color: rgb(107, 116, 201);
    height: 200px;
}

header a {
    color: #b5bcff;
    font-size: 24px;
}

h1 {
    padding: 25px;
    padding-left: 60px;
    font-size: 60px;
}

nav {

}

nav ul {
    text-align: center;
}










